/*  Hero Area */

.hero_area {
  height: 90vh;
  background-image: url(../src/assets/images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero_area.custom_page-height {
  height: 86px;
}

.hero_area.custom_page-height::after {
  display: none;
}

.hero_area::after {
  position: absolute;
  content: "";
  background-image: url(../src/assets/images/blue-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 42%;
  height: 70px;
  top: 98.5%;
  right: -4%;
  z-index: -1;
}